h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/*****FOR TEST REMOVE AFTER****

cv-content, .panel {
  border: 1px solid black;
}

/*****FOR TEST REMOVE AFTER*****/

body {
  justify-content: space-around;
  background-color: white;
}

#UserName {
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto 15px;
}

cv-content {
  flex-direction: row;
  justify-content: space-between;
  width: 595px;
  height: 842px;
  background-color: white;
}

h1 {
  text-align: center;
}

p, a {
  font-size: 12px;
  margin: 4px 0 4px 0;
  font-family: serif !important;
}

.left.panel {
  flex-grow: 1;
  margin-right: 15px;
  color: white;
  background-color: black;
  max-width: 34%;
}

.right.panel {
  flex-grow: 2;
  background-color: white;
}

.userOtherInfos .title {
  text-align: center;
}

.title {
  font-size: 13px;
}

.userDetail {
  margin-left: 10px;
}

.userDetail:first-child {
  margin-top: 15px;
}

.userOtherInfos p {
  text-align: center;
  max-width: 70%;
  margin: auto;
}

.userOtherInfos {
  margin-top: 70px;
}

.orange {
  color: orange;
}

.backgroundExperience .title {
  text-decoration: underline;
}

.container.title {
  margin-top: 4px;
}

.backgroundExperience {
  margin-top: 10px;
}

#summary, .backgroundExperiences {
  padding: 15px 0 15px 0;
}

/*
.backgroundExperiences {
  padding: 15px 0 15px 0;
}*/

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

#experiences .title::after, #formations .title::after, .left.panel .title::after {
  content: ":";
}

#summary, #experiences, #formations {
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
}
