<!DOCTYPE html>
<html ng-app="CVApp">

<head>
  <meta charset="utf-8">
  <title>CV okba</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="./js/angular/angular-material/angular-material.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-controller="CVController" layout="row" ng-cloak>
  <pdfRender>
    <cv-content layout="row">
      <section class="left panel" layout="column">
        <section id="userDetails">
          <section class="userDetail" ng-repeat="(key, detail) in currentUser.userDetails" ng-if="currentUser.rules.showItem[key]">
            <h6 class="title orange" ng-if="currentUser.dictionary[key]">{{currentUser.dictionary[key]}}</h6>
            <p ng-if="detail.substring(0, 4) !== 'http'">{{detail}}</p>
            <a ng-if="detail.substring(0, 4) === 'http'" ng-href="{{detail}}">{{detail}}</a>
          </section>
        </section>
        <section class="userOtherInfos" ng-repeat="userAbility in currentUser.moreInformation.userAbilities">
          <h4 class="title orange">{{userAbility.title}}</h4>
          <p>
            <span ng-repeat="section in userAbility.array">{{section}} {{$last ? "" : ", "}}</span>
          </p>
        </section>
      </section>
      <section class="right panel" layout="column">
        <section id="summary">
          <p id="UserName" class="orange">{{currentUser.firstName + " " + currentUser.lastName}}</p>
          <h4 class="title orange">{{currentUser.moreInformation.summary.title}}</h4>
          <p>{{currentUser.moreInformation.summary.text}}</p>
        </section>
        <section id="{{backgroundExperiences.style.IdName}}" class="backgroundExperiences" ng-repeat="backgroundExperiences in currentUser.moreInformation.backgroundExperiences">
          <h4 class="container title orange">{{backgroundExperiences.title}}</h4>
          <section class="{{backgroundExperiences.style.classesName}} backgroundExperience" ng-repeat="experience in backgroundExperiences.array">
            <h5 class="title">{{experience.date + " " + experience.organizationName}}</h5>
            <h5 class="title">{{experience.title}}</h5>
            <p>{{experience.description}}</p>
          </section>
        </section>
      </section>
    </cv-content>
    <script src="./js/angular/angular.min.js" charset="utf-8"></script>
    <script src="./js/angular/angular.js"></script>
    <script src="./js/angular/angular-aria.js"></script>
    <script src="./js/angular/angular-animate.js"></script>
    <script src="./js/angular/angular-messages.js"></script>
    <script src="./js/angular/angular-material/angular-material.js"></script>
    <script src="./js/app.js" charset="utf-8"></script>
</body>

</html>
